<ion-content [fullscreen]="true">

  <app-slideshow-backdrop *ngIf="latestMovies$ | async as latestMovies" title="Películas nuevas"
    [movies]="latestMovies"></app-slideshow-backdrop>

  <app-slideshow-poster *ngIf="latestMovies$ | async as latestMovies" title="Cartelera" [movies]="latestMovies">
  </app-slideshow-poster>

  <app-slideshow-col *ngIf="popularMovies$ | async as popularMovies" title="Populares" [movies]="popularMovies"
    (loadMore)="loadMore()"></app-slideshow-col>

</ion-content>